---
title: ""
permalink: /research/
author_profile: true
---
<!-- SEE https://getbootstrap.com/docs/4.4/components/buttons/ FOR INTERESTING WIDGETS! -->

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h2>Publication</h2> 
<b>Fang, Q.</b>, Wang, Z. (2023). 
<text class="pub-title">Fusion Detection via Distance-Decay Intersection over Union and Weighted Dempster–Shafer Evidence Theory</text>. Journal of Aerospace Information Systems.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://arc.aiaa.org/doi/full/10.2514/1.I011031','_blank')">Paper</button>
<br>
<br>

Gu, L., <b>Fang, Q.</b>, Wang, Z., Popov, E., & Dong, G. (2023).
<text class="pub-title">Learning lightweight and superior detectors with feature distillation for onboard remote sensing object detection. Remote Sensing</text>. Remote Sensing.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.mdpi.com/2072-4292/15/2/370','_blank')">Paper</button>
<br>
<br>


<b>Fang, Q.</b>, Wang, Z. (2022). 
<text class="pub-title"> Cross-modality attentive feature fusion for object detection in multispectral remote sensing imagery</text>. Pattern Recognition.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.sciencedirect.com/science/article/pii/S0031320322002679','_blank')">Paper</button>
<br>
<br>

<b>Fang, Q.</b>,Han D., & Wang, Z. (2021). 
<text class="pub-title"> Cross-modality fusion transformer for multispectral object detection</text>. arXiv preprint.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://arxiv.org/abs/2111.00273','_blank')">Paper</button>
<br>
<br>

王兆魁, <b>方青云</b>, & 韩大鹏.(2022). 
<text class="pub-title">成像卫星在轨智能处理技术研究进展</text>.宇航学报.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.researchgate.net/profile/Zhaokui-Wang/publication/360220674_chengxiangweixingzaiguizhinengchulijishuyanjiujinzhan/links/62693a0c1b747d19c2acdb82/chengxiangweixingzaiguizhinengchulijishuyanjiujinzhan.pdf','_blank')">Paper</button>
<br>
<br>

<b>方青云</b>, & 王兆魁.(2019). 
<text class="pub-title">基于改进 YOLOv3 网络的遥感目标快速检测方法</text>.上海航天.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('http://shht.ijournal.cn/ch/reader/create_pdf.aspx?file_no=20190503&flag=1&year_id=2019&quarter_id=5','_blank')">Paper</button>
<br>
<br>

